<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<div class="container bg-light px-5 py-3 col-3">
    <div class="row">
        <div class="py-3 text-justify">
            <h1 class="py-3 text-center">About the Author</h1>
            <div th:fragment="entry2" class="row">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/v1566402015/ptdnixnreokr0thl4dzz.jpg" class="card-img-top mb-4">
                        <h5 class="card-title">Daniel</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur deleniti eos excepturi fugiat illo illum ipsum iure laboriosam maiores molestias odio odit pariatur quasi recusandae, repellat, sed unde voluptates.</span></p>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>