<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="git-setup" class="row">
    <div class="card mb-4 col-12">
        <div class="card-body">
            <h5 class="card-title">Git Setup</h5>
            <h6 class="card-subtitle mb-2 text-muted">09/21/2019</h6>
            <p class="card-text"><span class="d-inline-block text-truncate" style="max-width: 100%;">Everything you need to know to setup all your git configuration, and also how to commit and push your work</span></p>
            <a href="git-setup" class="card-link">See more...</a>
        </div>
    </div>
</div>
<div th:fragment="git-branch" class="row">
    <div class="card mb-4 col-12">
        <div class="card-body">
            <h5 class="card-title">Git Branch</h5>
            <h6 class="card-subtitle mb-2 text-muted">09/25/2019</h6>
            <p class="card-text"><span class="d-inline-block text-truncate" style="max-width: 100%;">How to use git branches</span></p>
            <a href="/git-branch" class="card-link">See more...</a>
        </div>
    </div>
</div>

</body>
</html>