<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="entry1" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title1</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle1</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.1</p>
        <a href="#" class="card-link">Card link1</a>
    </div>
</div>

<div th:fragment="entry2" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title2</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle2</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.2</p>
        <a href="#" class="card-link">Card link2</a>
    </div>
</div>

</body>
</html>